.attendancereport-attendancereport {
    width: 1533px;
    height: 1115px;
    display: flex;
    overflow: hidden;
    position: relative;
    max-width: 1533px;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 1);
  }
  .attendancereport-rectangle1 {
    top: 35px;
    left: 38px;
    width: 1440px;
    height: 1024px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
    background-color: rgba(217, 217, 217, 1);
  }
  .attendancereport-attendance-table {
    top: 171px;
    left: 429px;
    width: 963px;
    height: 840px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
  }
  .attendancereport-rectangle3 {
    top: 0px;
    left: 0px;
    width: 963px;
    height: 840px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 1);
  }
  .attendancereport-rectangle8 {
    top: 280px;
    left: 0px;
    width: 963px;
    height: 70px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
    background-color: rgba(217, 217, 217, 0.5400000214576721);
  }
  .attendancereport-rectangle6 {
    top: 140px;
    left: 0px;
    width: 963px;
    height: 70px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
    background-color: rgba(217, 217, 217, 0.5400000214576721);
  }
  .attendancereport-rectangle10 {
    top: 420px;
    left: 0px;
    width: 963px;
    height: 70px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
    background-color: rgba(217, 217, 217, 0.5400000214576721);
  }
  .attendancereport-rectangle12 {
    top: 560px;
    left: 0px;
    width: 963px;
    height: 70px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
    background-color: rgba(217, 217, 217, 0.5400000214576721);
  }
  .attendancereport-rectangle14 {
    top: 700px;
    left: 0px;
    width: 963px;
    height: 70px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
    background-color: rgba(217, 217, 217, 0.5400000214576721);
  }
  .attendancereport-rectangle5 {
    top: 70px;
    left: 0px;
    width: 963px;
    height: 70px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 1);
  }
  .attendancereport-rectangle9 {
    top: 350px;
    left: 0px;
    width: 963px;
    height: 70px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 1);
  }
  .attendancereport-rectangle13 {
    top: 630px;
    left: 0px;
    width: 963px;
    height: 70px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 1);
  }
  .attendancereport-rectangle11 {
    top: 490px;
    left: 0px;
    width: 963px;
    height: 70px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 1);
  }
  .attendancereport-rectangle7 {
    top: 210px;
    left: 0px;
    width: 963px;
    height: 70px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 1);
  }
  .attendancereport-rectangle15 {
    top: 770px;
    left: 0px;
    width: 963px;
    height: 70px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 1);
  }
  .attendancereport-rectangle4 {
    top: 0px;
    left: 0px;
    width: 963px;
    height: 70px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
    background-color: rgba(8, 38, 66, 1);
  }
  .attendancereport-text {
    top: 25px;
    left: 678px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .attendancereport-text01 {
    top: 25px;
    left: 35px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .attendancereport-text02 {
    top: 25px;
    left: 340px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .attendancereport-text03 {
    top: 25px;
    left: 221px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .attendancereport-text04 {
    top: 25px;
    left: 847px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .attendancereport-text05 {
    top: 25px;
    left: 502px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .attendancereport-navigation-bar {
    top: 35px;
    left: 38px;
    width: 287px;
    height: 1024px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
  }
  .attendancereport-rectangle2 {
    top: 0px;
    left: 0px;
    width: 287px;
    height: 1024px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
    background-image: linear-gradient(180deg, rgba(7, 37, 65, 1) 0%, rgba(54, 119, 147, 1) 100%, rgba(88, 176, 205, 1) 100%, rgba(4, 4, 4, 0) 100%, rgba(4, 4, 4, 0) 100%);
  }
  .attendancereport-text06 {
    top: 616px;
    left: 97px;
    color: rgba(255, 255, 255, 1);
    width: 165px;
    height: auto;
    position: absolute;
    font-size: 25px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .attendancereport-text07 {
    top: 616px;
    left: 97px;
    color: rgba(255, 255, 255, 1);
    width: 165px;
    height: auto;
    position: absolute;
    font-size: 25px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .attendancereport-text08 {
    top: 707px;
    left: 97px;
    color: rgba(255, 255, 255, 1);
    width: 165px;
    height: auto;
    position: absolute;
    font-size: 25px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .attendancereport-text09 {
    top: 439px;
    left: 97px;
    color: rgba(255, 255, 255, 1);
    width: 236px;
    height: auto;
    position: absolute;
    font-size: 25px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .attendancereport-text10 {
    top: 349px;
    left: 97px;
    color: rgba(255, 255, 255, 1);
    width: 165px;
    height: auto;
    position: absolute;
    font-size: 25px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .attendancereport-text11 {
    top: 528px;
    left: 97px;
    color: rgba(255, 255, 255, 1);
    width: 165px;
    height: auto;
    position: absolute;
    font-size: 25px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .attendancereport-svg {
    top: 75px;
    left: 51px;
    width: 183;
    height: 179;
    position: absolute;
  }
  .attendancereport-icons8googlecalendar641 {
    top: 510px;
    left: 19px;
    width: 60px;
    height: 60px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
  }
  .attendancereport-icons8settings641 {
    top: 598px;
    left: 19px;
    width: 60px;
    height: 60px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
  }
  .attendancereport-icons8settings6411 {
    top: 691px;
    left: 19px;
    width: 60px;
    height: 60px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
  }
  .attendancereport-icons8editproperty641 {
    top: 422px;
    left: 19px;
    width: 60px;
    height: 60px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
  }
  .attendancereport-icons8testaccount641 {
    top: 334px;
    left: 19px;
    width: 60px;
    height: 60px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
  }
  .attendancereport-text12 {
    top: 110px;
    left: 429px;
    color: rgba(0, 0, 0, 1);
    width: 432px;
    height: auto;
    position: absolute;
    font-size: 36px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 400px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  