.employeedetails-employeedetails {
    width: 1550px;
    height: 1124px;
    display: flex;
    overflow: hidden;
    position: relative;
    max-width: 1550px;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 1);
  }
  .employeedetails-rectangle1 {
    top: 29px;
    left: 67px;
    width: 1414px;
    height: 1028px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
    background-color: rgba(217, 217, 217, 1);
  }
  .employeedetails-navigation-bar {
    top: 29px;
    left: 45px;
    width: 402px;
    height: 1032px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
  }
  .employeedetails-rectangle3 {
    top: 0px;
    left: 0px;
    width: 402px;
    height: 1032px;
    position: absolute;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    box-sizing: border-box;
    object-fit: cover;
    border-color: rgba(209, 195, 195, 1);
    border-style: solid;
    border-width: 1px;
    background-color: rgba(255, 255, 255, 1);
  }
  .employeedetails-rectangle4 {
    top: 214px;
    left: 31px;
    width: 335px;
    height: 70px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
    border-radius: 10px;
    background-color: rgba(44, 88, 90, 1);
  }
  .employeedetails-text {
    top: 233px;
    left: 48px;
    color: rgba(255, 255, 255, 1);
    width: 301px;
    height: auto;
    position: absolute;
    font-size: 25px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 400px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .employeedetails-rectangle5 {
    top: 331px;
    left: 31px;
    width: 335px;
    height: 70px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
    border-radius: 10px;
    background-color: rgba(44, 88, 90, 1);
  }
  .employeedetails-rectangle6 {
    top: 448px;
    left: 31px;
    width: 335px;
    height: 70px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
    border-radius: 10px;
    background-color: rgba(44, 88, 90, 1);
  }
  .employeedetails-text01 {
    top: 465px;
    left: 47px;
    color: rgba(255, 255, 255, 1);
    width: 301px;
    height: auto;
    position: absolute;
    font-size: 25px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 400px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .employeedetails-rectangle7 {
    top: 565px;
    left: 34px;
    width: 335px;
    height: 70px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
    border-radius: 10px;
    background-color: rgba(44, 88, 90, 1);
  }
  .employeedetails-rectangle8 {
    top: 682px;
    left: 34px;
    width: 335px;
    height: 70px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
    border-radius: 10px;
    background-color: rgba(44, 88, 90, 1);
  }
  .employeedetails-rectangle9 {
    top: 799px;
    left: 31px;
    width: 335px;
    height: 70px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
    border-radius: 10px;
    background-color: rgba(44, 88, 90, 1);
  }
  .employeedetails-text02 {
    top: 816px;
    left: 51px;
    color: rgba(255, 255, 255, 1);
    width: 301px;
    height: auto;
    position: absolute;
    font-size: 25px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 400px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .employeedetails-rectangle10 {
    top: 916px;
    left: 31px;
    width: 335px;
    height: 70px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
    border-radius: 10px;
    background-color: rgba(44, 88, 90, 1);
  }
  .employeedetails-text03 {
    top: 350px;
    left: 48px;
    color: rgba(255, 255, 255, 1);
    width: 301px;
    height: auto;
    position: absolute;
    font-size: 25px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 400px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .employeedetails-text04 {
    top: 700px;
    left: 51px;
    color: rgba(255, 255, 255, 1);
    width: 301px;
    height: auto;
    position: absolute;
    font-size: 25px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 400px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .employeedetails-text05 {
    top: 584px;
    left: 48px;
    color: rgba(255, 255, 255, 1);
    width: 301px;
    height: auto;
    position: absolute;
    font-size: 25px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 400px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .employeedetails-text06 {
    left: 51px;
    color: rgba(255, 255, 255, 1);
    width: 301px;
    bottom: 68px;
    height: auto;
    position: absolute;
    font-size: 25px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 400px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .employeedetails-header {
    top: 29px;
    left: 45px;
    width: 1436px;
    height: 123px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
  }
  .employeedetails-rectangle2 {
    top: 0px;
    left: 0px;
    width: 1436px;
    height: 123px;
    position: absolute;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    box-sizing: border-box;
    object-fit: cover;
    border-color: rgba(209, 195, 195, 1);
    border-style: solid;
    border-width: 1px;
    background-color: rgba(255, 255, 255, 1);
  }
  .employeedetails-text07 {
    top: 37px;
    left: 16px;
    color: rgba(44, 88, 90, 1);
    height: auto;
    position: absolute;
    font-size: 30px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .employeedetails-svg {
    top: 20px;
    left: 402px;
    width: 83;
    height: 1px;
    position: absolute;
  }
  .employeedetails-text08 {
    top: 41px;
    left: 436px;
    color: rgba(56, 158, 97, 1);
    width: 523px;
    height: auto;
    position: absolute;
    font-size: 30px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .employeedetails-rectangle11 {
    top: 198px;
    left: 480px;
    width: 964px;
    height: 803px;
    position: absolute;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 1);
  }
  .employeedetails-text09 {
    top: 710px;
    left: 500px;
    color: rgba(0, 0, 0, 1);
    width: 243px;
    height: auto;
    position: absolute;
    font-size: 25px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .employeedetails-text10 {
    top: 718px;
    left: 884px;
    color: rgba(0, 0, 0, 1);
    width: 243px;
    height: auto;
    position: absolute;
    font-size: 25px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .employeedetails-text11 {
    top: 801px;
    left: 460px;
    color: rgba(0, 0, 0, 1);
    width: 243px;
    height: auto;
    position: absolute;
    font-size: 25px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .employeedetails-text12 {
    top: 799px;
    left: 894px;
    color: rgba(0, 0, 0, 1);
    width: 243px;
    height: auto;
    position: absolute;
    font-size: 25px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .employeedetails-text13 {
    top: 886px;
    left: 460px;
    color: rgba(0, 0, 0, 1);
    width: 243px;
    height: auto;
    position: absolute;
    font-size: 25px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .employeedetails-text14 {
    top: 880px;
    left: 895px;
    color: rgba(0, 0, 0, 1);
    width: 243px;
    height: auto;
    position: absolute;
    font-size: 25px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .employeedetails-svg1 {
    top: 251px;
    left: 534px;
    width: 293;
    height: 276;
    position: absolute;
  }
  .employeedetails-text15 {
    top: 259px;
    left: 931px;
    color: rgba(0, 0, 0, 1);
    width: 334px;
    height: auto;
    position: absolute;
    font-size: 35px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .employeedetails-text16 {
    top: 360px;
    left: 811px;
    color: rgba(0, 0, 0, 1);
    width: 334px;
    height: auto;
    position: absolute;
    font-size: 25px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .employeedetails-text17 {
    top: 446px;
    left: 871px;
    color: rgba(0, 0, 0, 1);
    width: 334px;
    height: auto;
    position: absolute;
    font-size: 25px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .employeedetails-text18 {
    top: 529px;
    left: 871px;
    color: rgba(0, 0, 0, 1);
    width: 334px;
    height: auto;
    position: absolute;
    font-size: 25px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .employeedetails-text19 {
    top: 626px;
    left: 528px;
    color: rgba(0, 0, 0, 1);
    width: 243px;
    height: auto;
    position: absolute;
    font-size: 25px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .employeedetails-text20 {
    top: 626px;
    left: 957px;
    color: rgba(0, 0, 0, 1);
    width: 270px;
    height: auto;
    position: absolute;
    font-size: 25px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  